# Biblioteca para manipulação e análise de dados
pandas==2.0.0

# Biblioteca para fazer requisições HTTP (usada para acessar APIs)
requests==2.31.0

# Biblioteca para criar gráficos e visualizações de dados
matplotlib==3.7.0

# Biblioteca para criar dashboards interativos
streamlit==1.25.0
